{% extends "_base.html" %}

{% block content %}

<div class="body-content">
  <div class="row">
    <h4>Program Details</h4>

    <p>As a future job aspirant i want to develop a python based application that will allow users to register,create skill-set based profile, to visualize,notify the possible job matches based on the area of interest.</p>
    <br></br>

    <h4>How is it going to work?</h4>
		  <p> 1.  Job aspirant will have access to the web portal.</p> 
		  <p> 2. Job aspirant will fill all the required details and register to the service.</p> 
		   <p>3. Once the user completes the registration he/she will be redirected to the profile builder.</p> 
		   <p>4. Profile builder accepted list of core competencies from the end user.</p> 
		  <p> 5. Job Matcher will try to match the skill-set with the available jobs and provide the match prediction.</p> 
		  <p> 6. Job Matcher will invoke the notification module to communicate with the user through email,sms notifications periodically.
		</p>
</div>
</div>

{% endblock %}
